.header-container-main {
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_3.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 150vh; /* Siempre ocupa toda la pantalla */
    min-height: 150vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Second-Container{
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_4.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 120vh; /* Siempre ocupa toda la pantalla */
    min-height: 120vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Second-Container{
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_4.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 200vh; /* Siempre ocupa toda la pantalla */
    min-height: 200vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Third-Container{
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_5.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 350vh; /* Siempre ocupa toda la pantalla */
    min-height: 350vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .Forth-Container{
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_6.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 370vh; /* Siempre ocupa toda la pantalla */
    min-height: 370vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Quina-Container{
    background-image: url('../images/INVITACION-CARLOS-Y-KATHE_7.jpg');
    background-color: rgba(0,0,0,0);
    background-size: cover; /* Ancho fijo de 50rem, altura automática */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 370vh; /* Siempre ocupa toda la pantalla */
    min-height: 370vh;
    width: 50rem;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }



  .containerbtn-map{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 70%;
    top: 18%;
  }

  .btn-outline-map{
    display: flex;
    justify-content: center;
    width: 60%;
    z-index: 100;
    background-color: #ffffff;
    padding: 0.5rem 0rem;
    border: 3px solid #ffffff;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Mosseta';
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: #0C396B;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-map:hover{
  color: #ffffff;
  background-color: #3890f5;
  border: 3px solid #3890f5;
}
  






.containerbtn-song{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 70%;
    top: 95%;
  }

  .btn-outline-song{
    display: flex;
    justify-content: center;
    width: 60%;
    z-index: 100;
    background-color: #ffffff;
    padding: 0.5rem 0rem;
    border: 3px solid #ffffff;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Mosseta';
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: #0C396B;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-song:hover{
  color: #ffffff;
  background-color: #3890f5;
  border: 3px solid #3890f5;
}



.containerbtn-photo{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 70%;
    top: 11%;
  }

  .btn-outline-photo{
    display: flex;
    justify-content: center;
    width: 50%;
    z-index: 100;
    background-color: #68483E;
    padding: 0.5rem 0rem;
    border: 3px solid #68483E;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Mosseta';
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-photo:hover{
  color: #ffffff;
  background-color: #0C396B;
  border: 3px solid #0C396B;
}






.containerbtn-Bank{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 70%;
    top: 44%;
  }

  .btn-outline-Bank{
    display: flex;
    justify-content: center;
    width: 80%;
    z-index: 100;
    background-color: #0C396B;
    padding: 0.5rem 0rem;
    border: 3px solid #0C396B;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Mosseta';
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-Bank:hover{
  color: #ffffff;
  background-color: #2276d6;
  border: 3px solid #2276d6;
}


    
.containerbtn-Ca{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 70%;
    top: 60%;
  }

  .btn-outline-Ca{
    display: flex;
    justify-content: center;
    width: 80%;
    z-index: 100;
    background-color: #0C396B;
    padding: 0.5rem 0rem;
    border: 3px solid #0C396B;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    text-decoration-line: none;
    outline: none;
    cursor: pointer;
    margin-top: 0rem; 
    font-family: 'Mosseta';
    font-weight: 800;
    letter-spacing: 0px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-outline-Ca:hover{
  color: #ffffff;
  background-color: #2276d6;
  border: 3px solid #2276d6;
}








.slider-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40rem;
  }
  .slider-container-two {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100rem;
  }
  .slider-container .slick-slide > div {
    height: 500px; /* o lo que necesites */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .contenedorImg {
    display: flex !important;
    justify-content: center !important; /* Centra horizontalmente */
    width: 100%;
  }
  
  .imgCarousel {
    width: 350px;
    align-items: center;
    height: auto;
    z-index: 1;
  }




  
  @media only screen and (max-width: 960px) { 

    .header-container-main {
      background-image: url('../images/INVITACION-CARLOS-Y-KATHE_3.jpg');
      background-size: cover; /* Ajusta la imagen sin deformarla */
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      width: 100%;
      height: 90vh; /* Siempre ocupa toda la pantalla */
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'PT Sans', sans-serif;
    }
    .Second-Container {
        background-image: url('../images/INVITACION-CARLOS-Y-KATHE_4.jpg');
        background-size: cover; /* Ajusta la imagen sin deformarla */
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: 130vh; /* Siempre ocupa toda la pantalla */
        min-height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
      }
      .Third-Container {
        background-image: url('../images/INVITACION-CARLOS-Y-KATHE_5.jpg');
        background-size: cover; /* Ajusta la imagen sin deformarla */
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: 220vh; /* Siempre ocupa toda la pantalla */
        min-height: 220vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
      }
      .Third-Container {
        background-image: url('../images/INVITACION-CARLOS-Y-KATHE_5.jpg');
        background-size: cover; /* Ajusta la imagen sin deformarla */
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: 220vh; /* Siempre ocupa toda la pantalla */
        min-height: 220vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
      }
      .Forth-Container {
        background-image: url('../images/INVITACION-CARLOS-Y-KATHE_6.jpg');
        background-size: cover; /* Ajusta la imagen sin deformarla */
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: 150vh; /* Siempre ocupa toda la pantalla */
        min-height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
      }

      .Quina-Container {
        background-image: url('../images/INVITACION-CARLOS-Y-KATHE_7.jpg');
        background-size: cover; /* Ajusta la imagen sin deformarla */
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        width: 100%;
        height: 170vh; /* Siempre ocupa toda la pantalla */
        min-height:170vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
      }





      .containerbtn-map{
        display: flex;
        position: absolute;
        justify-content: center;
        width: 70%;
        top: 18%;
      }

      .btn-outline-map{
        display: flex;
        justify-content: center;
        width: 60%;
        z-index: 100;
        background-color: #ffffff;
        padding: 0.5rem 0rem;
        border: 3px solid #ffffff;
        transition: all 0.3s ease-out;
        border-radius: 50px;
        text-decoration-line: none;
        outline: none;
        cursor: pointer;
        margin-top: 0rem; 
        font-family: 'Mosseta';
        font-weight: 800;
        letter-spacing: 0px;
        font-size: 0.8rem;
        color: #0C396B;
        margin-top: 1rem;
        text-decoration: none;
    }
    
    .btn-outline-map:hover{
      color: #ffffff;
      background-color: #3890f5;
      border: 3px solid #3890f5;
    }





      .containerbtn-song{
        display: flex;
        position: absolute;
        justify-content: center;
        width: 70%;
        top: 95%;
      }

      .btn-outline-song{
        display: flex;
        justify-content: center;
        width: 60%;
        z-index: 100;
        background-color: #ffffff;
        padding: 0.5rem 0rem;
        border: 3px solid #ffffff;
        transition: all 0.3s ease-out;
        border-radius: 50px;
        text-decoration-line: none;
        outline: none;
        cursor: pointer;
        margin-top: 0rem; 
        font-family: 'Mosseta';
        font-weight: 800;
        letter-spacing: 0px;
        font-size: 0.8rem;
        color: #0C396B;
        margin-top: 1rem;
        text-decoration: none;
    }
    
    .btn-outline-song:hover{
      color: #ffffff;
      background-color: #3890f5;
      border: 3px solid #3890f5;
    }










    .containerbtn-photo{
        display: flex;
        position: absolute;
        justify-content: center;
        width: 70%;
        top: 18%;
      }

      .btn-outline-photo{
        display: flex;
        justify-content: center;
        width: 50%;
        z-index: 100;
        background-color: #68483E;
        padding: 0.5rem 0rem;
        border: 3px solid #68483E;
        transition: all 0.3s ease-out;
        border-radius: 50px;
        text-decoration-line: none;
        outline: none;
        cursor: pointer;
        margin-top: 0rem; 
        font-family: 'Mosseta';
        font-weight: 800;
        letter-spacing: 0px;
        font-size: 0.8rem;
        color: #ffffff;
        margin-top: 1rem;
        text-decoration: none;
    }
    
    .btn-outline-photo:hover{
      color: #ffffff;
      background-color: #0C396B;
      border: 3px solid #0C396B;
    }




    .containerbtn-Bank{
        display: flex;
        position: absolute;
        justify-content: center;
        width: 70%;
        top: 44%;
      }

      .btn-outline-Bank{
        display: flex;
        justify-content: center;
        width: 80%;
        z-index: 100;
        background-color: #0C396B;
        padding: 0.5rem 0rem;
        border: 3px solid #0C396B;
        transition: all 0.3s ease-out;
        border-radius: 50px;
        text-decoration-line: none;
        outline: none;
        cursor: pointer;
        margin-top: 0rem; 
        font-family: 'Mosseta';
        font-weight: 800;
        letter-spacing: 0px;
        font-size: 0.8rem;
        color: #ffffff;
        margin-top: 1rem;
        text-decoration: none;
    }
    
    .btn-outline-Bank:hover{
      color: #ffffff;
      background-color: #2276d6;
      border: 3px solid #2276d6;
    }





    
    .containerbtn-Ca{
        display: flex;
        position: absolute;
        justify-content: center;
        width: 70%;
        top: 87%;
      }

      .btn-outline-Ca{
        display: flex;
        justify-content: center;
        width: 80%;
        z-index: 100;
        background-color: #0C396B;
        padding: 0.5rem 0rem;
        border: 3px solid #0C396B;
        transition: all 0.3s ease-out;
        border-radius: 50px;
        text-decoration-line: none;
        outline: none;
        cursor: pointer;
        margin-top: 0rem; 
        font-family: 'Mosseta';
        font-weight: 800;
        letter-spacing: 0px;
        font-size: 0.8rem;
        color: #ffffff;
        margin-top: 1rem;
        text-decoration: none;
    }
    
    .btn-outline-Ca:hover{
      color: #ffffff;
      background-color: #2276d6;
      border: 3px solid #2276d6;
    }









    .slider-container {
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
        margin-top: 25rem;
      }
      .slider-container-two{
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
        margin-top: 53rem;
      }
      .slider-container .slick-slide > div {
        height: 400px; /* o lo que necesites */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
      }

      .contenedorImg {
        display: flex !important;
        justify-content: center !important; /* Centra horizontalmente */
        width: 100%;
      }
      
      .imgCarousel {
        width: 300px;
        align-items: center;
        height: auto;
        z-index: 1;
      }

      /* Estilos para los dots del carrusel */
      .slick-dots li button:before {
        color: rgb(10, 65, 87) !important; /* Cambia los dots a blanco */
      }

      /* Dot activo (opcional para cambiar el color del activo también) */
      .slick-dots li.slick-active button:before {
        color: rgb(10, 65, 87) !important;  /* También blanco o usa otro color si quieres destacar */
      }
    }